@{
    ViewBag.Title = "Contacto";
}
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body btn bg-white text-dark">
                    <h6 class="text-left mt-3 text-center">Colaboradores </h6>
                    <hr />
                    <h6>Daniel Vargas</h6>
                    <h5>
                        <a href="https://www.facebook.com/www.danielvargas21/"><i class="fab fa-facebook text-primary"></i></a>
                        <a href="#"><i class="fab fa-instagram text-danger"></i></a>
                        <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp text-success "></i></a>
                        <a href="https://github.com/Danielv210796"><i class="fab fa-github text-warning"></i></a>
                    </h5>

                    <h6>Carlos Gomez</h6>
                    <h5>
                        <a href="https://www.facebook.com/cagc799/"><i class="fab fa-facebook text-primary"></i></a>
                        <a href="#"><i class="fab fa-instagram text-danger"></i></a>
                        <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp text-success "></i></a>
                        <a href="https://github.com/CarlosAlb7"><i class="fab fa-github text-warning"></i></a>
                    </h5>


                    <h6>Abraham Mena</h6>
                    <h5>
                        <a href="https://www.facebook.com/abraham.rome"><i class="fab fa-facebook text-primary"></i></a>
                        <a href="#"><i class="fab fa-instagram text-danger"></i></a>
                        <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp text-success "></i></a>
                        <a href="https://github.com/abraham22rodriguez"><i class="fab fa-github text-warning"></i></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
